<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/call.css">
    <script src="https://kit.fontawesome.com/cbc2360494.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header">

    </div>
    <div class="body">
        <div id="screen"><input type="tel" name="display" id="display" disabled></div>
        <ul class="keypad">
            <button data-number="1" class="numPad pressableButton">1</button>
            <button data-number="2" class="numPad pressableButton">2</button>
            <button data-number="3" class="numPad pressableButton">3</button>
            <li class="numPad"><i class="fa-solid fa-voicemail"></i></li>
            <li class="numPad">ABC</li>
            <li class="numPad">DEF</li>
            <button data-number="4" class="numPad pressableButton">4</button>
            <button data-number="5" class="numPad pressableButton">5</button>
            <button data-number="6" class="numPad pressableButton">6</button>
            <li class="numPad"><i class="fa-solid fa-voicemail"></i></li>
            <li class="numPad">ABC</li>
            <li class="numPad">DEF</li>
            <button data-number="7" class="numPad pressableButton">7</button>
            <button data-number="8" class="numPad pressableButton">8</button>
            <button data-number="9" class="numPad pressableButton">9</button>
            <li class="numPad"><i class="fa-solid fa-voicemail"></i></li>
            <li class="numPad">ABC</li>
            <li class="numPad">DEF</li>
            <button data-number="*" class="numPad pressableButton">*</button>
            <button data-number="0" class="numPad pressableButton" id="zero">0</button>
            <button data-number="#" class="numPad pressableButton">#</button>
        </ul>
        <div class='phoneMenu'>
            <button class='menuButton' id="Video">Video</button>
            <button class='menuButton' id="callButton">Call</button>
            <button class='menuButton' id="backspace">Backspace</button>
        </div>
    </div>

    <div class="footer">
        <a href="/">Home</a>
        <a href="/contact">Contacts</a>
        <a href="/call">Call</a>
    </div>

    <script src="js/call.js"></script>
</body>
</html>