<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Home Page</h1>
    <form action="/createContact" method="POST">
        <input type="text" placeholder="Enter Name" name="contactName">
        <input type="number" placeholder="Enter Number" name="contactNumber">
        <input type="submit">
    </form>

    <a href="/contact">contact</a>
</body>
</html>