body{
    background-color: gray;
}
.header{
    margin-top: 15%;
}
.body{
    padding-bottom: 300px;
    margin: 0;
    height: 100%;
}

#screen{
    text-align: center;

}
#screen > input{
    width: 50%;
}

.numPad{
    text-decoration: none;
    list-style-type: none;
    font-size: 5em;
}

.keypad{
    margin: none;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 1em 5%;
    outline: none;
}
.keypad > button{
    cursor: pointer;
    font-size: 5em;
    outline: none;
}
.keypad > button:hover{
    background-color: rgb(155, 124, 124);
}


.phoneMenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.phoneMenu > button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.footer{
    display: grid;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: .5em;
}

.footer > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2em;
}

.footer > a:active{
    text-decoration: dotted;
    background-color: rgb(49, 49, 49);
    color: cyan;
    border-radius: 2em;
}