body{
    background-color: gray;
}
.header{
    margin-top: 100px;
}
.body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#screen{
    text-align: center;
    padding-bottom: 50px;
}


#screen > input{
    width: 50%;
    font-size: 4em;
    height: 50px;
    text-align: right;
}

.numPad{
    text-decoration: none;
    list-style-type: none;
    font-size: 3em;
}

.numPad:nth-child(-6n+16),.numPad:nth-child(-6n+17),.numPad:nth-child(-6n+18){
    padding-bottom: 1em;
    justify-content: center;

}

.keypad, .phoneMenu{
    margin: 0;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 150px);
    justify-content: center;
    gap: 0 5%;
    outline: none;
}

.keypad > button{
    cursor: pointer;
    font-size: 5em;
    outline: none;
}
.keypad > button:hover{
    background-color: rgb(155, 124, 124);
}


.phoneMenu{
    justify-items: center;
    padding-top: 1em;
}

.phoneMenu > button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}

.footer{
    display: grid;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: .5em;
}

.footer > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2em;
}

.footer > a:active{
    text-decoration: dotted;
    background-color: rgb(49, 49, 49);
    color: cyan;
    border-radius: 2em;
}