body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
    height: 100%;
}
.contactBody{
    padding-bottom: 100px;
    margin: 0;
}

ul,ol{
    list-style-type: none;
    padding: 0;
}

#contactHeader{
    background-color: gray;
    margin-bottom: 10px;
}

.enteredContact, #contactHeaderList{
    display: grid;
    grid-template-areas: 
    'a b c';
    grid-template-columns: 100px 1fr 100px;
}

span{
    border: 3px solid rgba(0,0, 0, .5);
}

.dropDownNav.notDropped{
    opacity: 0;
    height: 0px;
    transform: translateY(130%);
}

.dropDownNav.dropped{
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(0);
}

.dropDownNav{
    transition: opacity 200ms ease-in-out;
}

.footer{
    display: grid;
    bottom: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: .5em;
}

.footer > a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2em;
}

.footer > a:active{
    text-decoration: dotted;
    background-color: gray;
    color: cyan;
    border-radius: 2em;
}