body{
    background-color: lightgray;
}

ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#contactHeader{
    background-color: gray;
    margin-bottom: 10px
}

.enteredContact, #contactHeaderList{
    display: grid;
    grid-template-areas: 
    'a b c';
    grid-template-columns: 100px 1fr 100px;
}

.dropDownNav{
    display: flex;
    justify-content: space-evenly;
}

.toggleOff{
    overflow: hidden;
    max-height: 0;
}

selection.dropDown{
    display: none;
}

span{
    border: 3px solid rgba(0,0, 0, .5);
}
